.elemento_0{ top: 50%; left: 50%; }
.elemento_1{ top: 80%; left: 20%; }
.elemento_2{ top: 0%; left: 45%; }
.elemento_3{ top: 100%; left: 100%;}
.elemento_4{ top: 0%; left: 0%; }
.elemento_5{ top: 0%; left: 80%; }

.expositorio_logo{ top: 50%; left: 80%; }

.elemento,.expositorio_logo{
	transform: translate(-50%,-50%);
	-webkit-animation-name: 'flotar1_absolutPos';
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0;

	animation-name: 'flotar1_absolutPos';
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 0;

	transition: 1s;
}

@keyframes flotar1_absolutPos{
	from{ margin-top:0; }
	50%{ margin-top:-1%; }
	to{ margin-top:0; }
}